{namespace com.spoutouts.acqnet}
/**
 * @param title The title.
 */
{template .index}
<!DOCTYPE html>
<html>
<head>
<title>{$title}</title>
<link rel="stylesheet" type="text/css" href="/assets/styles/common.css?min" />
<script type="text/javascript" src="/assets/scripts/index.js?min"></script>
</head>
<body class="{css MyClass}">
<p id="test">Hello World</p>
</body>
</html>
{/template}